em
{
    color: blue;
}

.introduction
{
	color: rgba(255,0,0,0.5);
	font-family: arial;
}

.test
{
	color: orange;
}

/*body
..{
..	background: url("../images/ic3peak_mini.png") fixed no-repeat top right, url("bois.jpg") fixed repeat;

*/}

.image
{
	opacity: 0.6;
}
p
{
	width: 50%;
	border: 1px solid red;
	text-align: justify;
	padding: 25px;
	margin: 25px 25px 25px 0px
}
