/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Ball';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* style de la page */

body
{
	font-family: Trebuchet MS, arial, sans-serif;
	background: url('tp/images/fond_jaune.png');
	background-repeat: repeat;
	color: black;
}

#block_page
{
	width: 980px
	margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* en tete */

header
{ 
	background: url("tp/images/separateur.png") repeat-x bottom;
	display: flex;
	justify-content: space-between;	
	align-items: flex-end;
}

#logo
{

	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img
{
	width: 59px;
    height: 60px;
}

header h1
{
    font-family: ball, serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
	font-family: dayrom, serif;
	font-size: 1.1em;
	margin-top: 0px;
	font-weight: normal; 
}

/* onglet de navigation */

nav ul
{
	list-style-type: none;
	display: flex
}

nav li
{
	margin-right: 15px;
}
nav a

{
	color: black;
	font-size: 1.3em;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	color: red;
	border-bottom: 3px solid #760001;
}



/* Bannière */

#banniere
{
 	background: url("tp/images/sanfrancisco.jpg") no-repeat;
 	background-size: 100% 100%;
	margin-top: 15px;
	margin-bottom: 25px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px black;
    width:100%;
    position: relative;
}

#banniereD
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}

.bouton_rouge

{
	color: white;
	text-decoration: none;
	text-align: center;
	height: 25px;
	right: 5px;
    position: absolute;
    bottom: 5px;
    background: url('tp/images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
}


